<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<img class="background" src="assets/image/homeachtergrond.jpg">


    <header style="height: 115px">

  <div id="menu-bar" class="fas fa-bars"></div>
  <div>
    <img src= "assets/image/Screenshot%20(17).png" width="70px"height="70px">
  </div>

  <nav class="navbar">
    <a href="#home">home</a>
    <a href="#about">about</a>
    <a href="#contact">contact</a>
    <button style="background-color: red; color: white">Sign Out</button>
  </nav>

</header>
<ul class="slideshow">
  <li><span>Image 01</span><div><h3 class="neonText">Welkom bij MiRijExamen</h3></div></li>
  <li><span>Image 02</span></li>
  <li><span>Image 03</span></li>
  <li><span>Image 04</span></li>
  <li><span>Image 05</span></li>
  <li><span>Image 06</span></li>
</ul>
<div class="container">
  <header>
    <button id="button">  <a routerLink="/regels" id="regels">Ga naar de toets</a></button>
  </header>
</div>

  <footer>

<section class="footer" >
  <div class="box-container">

    <div class="box">
      <p>&#xA9;2022|Alle rechten voorbehouden</p>
    </div>
    <div class="box">

    </div>
  </div>

</section>
  </footer>



