<img class="background" src="https://www.autotheoriexl.nl/uploads/782872/voorrangsKruispuntje.jpg">
<form id="form" #login="ngForm" [formGroup]="loginForm" style="padding-left: 580px;padding-top: 70px" >
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <div class="form-inner" class="form span" style="padding-top: 5px">
    <img src= "assets/image/Screenshot%20(17).png" width=80px; height=80px;  alt="logo">
    <div class="content">
      <img src= "assets/image/user.jpg" width=110px; height=110px; style="margin-left: 110px;" alt="logo">
      <div class="form-group">
        <label for="UserName">Username:</label><br>
        <input class="input" id="userName" type="text" formControlName="userName" name="userName"  placeholder="  Username" required ><br>
        <span style="color: red" *ngIf="(loginForm.controls['userName'].touched || loginForm.controls['userName'].dirty) && loginForm.hasError('required', 'userName')">
          <div style="font-weight: bold;"> Username verplicht!</div>
        </span>
        <br>
      </div>

      <div class="form-group"  >
        <label for="password" >Password:</label><br>

        <input style="background-color: #c0bbbb;height: 45px;border-radius: 10px;color: black" class="input" id="password" type="password" class="form-control" formControlName="password" name="password" placeholder="  Password" required /><br>
        <span style="color: red" *ngIf="(loginForm.controls['password'].touched || loginForm.controls['password'].dirty) && loginForm.hasError('required', 'password')">
          <div style="font-weight: bold">Password verplicht!</div>
        </span>
        <div class="input-group-addon">
          <i style="color: white" class="bi bi-eye-slash" id="togglePassword"></i>
        </div>
        <br>

      </div>
<!--      <button  class="btn" type="submit"><a style="text-decoration: none;color: white" routerLink="/home" id="home">Login</a></button>-->
      <button  class="btn" type="submit" (click)="validateUser(loginForm.getRawValue())">Login</button>

    </div>
  </div>
</form>




