
<header style="height: 115px">

  <div id="menu-bar" class="fas fa-bars"></div>
  <div>
    <img src= "assets/image/Screenshot%20(17).png" width="70px"height="70px">
  </div>

  <nav class="navbar">
    <a href="#home">home</a>
    <a href="#about">about</a>
    <a href="#contact">contact</a>
  </nav>

</header>
<div>
  <div style="position:absolute; height: 100px;width: 700px; left: 250px; top:110px" >
 <span> <img src="assets/image/stop.jpg" width="200px"height="200px" >
  <h1 class="col-md-8 fs-4">Neem de Regels & Instructies van de toets eerst heel goed door</h1>
 </span>
<p >De toets bestaat uit drie onderdelen: Borden,Vragen & Maquetten</p>
  <p>1.Onderdeel Borden bestaat uit 5 borden</p>
  <p>2.Onderdeel Vragen bestaat uit 10 vragen</p>
  <p>3.Onderdeel Maquetten bestaat uit 10 maquetten</p>
  <p>4.De tijdsduur bedraagt 25 minuten.</p>
  <p>5.Het resultaat komt na de 25 minuten tevoorschijn op het sherm</p>
  <p>6.Tijdens het afleggen van de toets is het niet toegestaan te praten tot de andere deelnemers</p>
  <p>7.Indien er vragen zijn stel die gerust aan de survellaint</p>
  <p>8.Mobiele telefoons, smartwatches zijn niet toegestaan</p>
  <p>9.Tijdens het binnentreden van de ruimte moeten die ingeleverd worden bij de surveillant</p><br>
  <button class="btn btn-primary btn-lg" style="background-color: #b9260a; color: white; left: 600px" > <a routerLink="/toets" id="toets">Start de toets</a></button><br>
<h1 style="font-family: cursive; text-align: center">Heel veel succes!</h1>

</div>
</div>

<footer>

<section class="footer">
  <div class="box-container">

    <div class="box">
      <p style="padding-top: 0px">&#xA9;2022|All rechten voorbehouden</p>
    </div>
    <div class="box">

    </div>
  </div>
</section>
</footer>
